@font-face {
  font-family: 'Inter UI Regular';
  font-style: normal;
  font-weight: 400;
  src: url('Inter-UI-Regular.woff') format('woff');
  font-display: fallback;
}
@font-face {
  font-family: 'Inter UI Regular Italic';
  font-style: italic;
  font-weight: 400;
  src: url('Inter-UI-Italic.woff') format('woff');
  font-display: fallback;
}
@font-face {
  font-family: 'Inter UI SemiBold';
  font-style: normal;
  font-weight: 600;
  src: url('Inter-UI-SemiBold.woff') format('woff');
  font-display: fallback;
}
@font-face {
  font-family: 'Inter UI SemiBold Italic';
  font-style: italic;
  font-weight: 600;
  src: url('Inter-UI-SemiBoldItalic.woff') format('woff');
  font-display: fallback;
}
@font-face {
  font-family: 'Inter UI Bold';
  font-style: normal;
  font-weight: 700;
  src: url('Inter-UI-Bold.woff') format('woff');
  font-display: fallback;
}
@font-face {
  font-family: 'Inter UI Bold Italic';
  font-style: italic;
  font-weight: 700;
  src: url('Inter-UI-BoldItalic.woff') format('woff');
  font-display: fallback;
}
@font-face {
  font-family: Shabnam;
  src: url('Shabnam-FD.eot');
  src: url('Shabnam-FD.eot?#iefix') format('embedded-opentype'),
       url('Shabnam-FD.woff2') format('woff2'),
       url('Shabnam-FD.woff') format('woff'),
       url('Shabnam-FD.ttf') format('truetype');
  font-weight: normal;
  font-display: fallback;
}
@font-face {
  font-family: Shabnam;
  src: url('Shabnam-Bold-FD.eot');
  src: url('Shabnam-Bold-FD.eot?#iefix') format('embedded-opentype'),
       url('Shabnam-Bold-FD.woff2') format('woff2'),
       url('Shabnam-Bold-FD.woff') format('woff'),
       url('Shabnam-Bold-FD.ttf') format('truetype');
  font-weight: bold;
  font-display: fallback;
}
@font-face {
  font-family: Shabnam;
  src: url('Shabnam-Light-FD.eot');
  src: url('Shabnam-Light-FD.eot?#iefix') format('embedded-opentype'),
       url('Shabnam-Light-FD.woff2') format('woff2'),
       url('Shabnam-Light-FD.woff') format('woff'),
       url('Shabnam-Light-FD.ttf') format('truetype');
  font-weight: 300;
  font-display: fallback;

}
